<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/products/listado.css">
    <link rel="icon" href="../../../img/general/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>ModaSport</title>
</head>
<body>

    <%- include ("../partials/headerProductos.ejs") %>

    <section class="productos">
        <h2 class="titulo animado">Productos Hombre</h2>
        <main>

            <%  products.forEach(product => {  if(product.detalle == "hombre"){ %>
            <article class="tarjeta-producto animado">
                <div class="img-producto">
                    <img src="../../../img/products/<%= product.imagen %>" alt="foto-producto">
                </div>
                <div class="hover-info">
                    <ul>
                        <li><%= product.prenda %></li>
                        <li><%= product.marca %></li>
                        <li>Talle <%= product.talle %></li>
                        <li>Color <%= product.color %></li>
                        <li>$ <%= product.precio %></li>
                        <li><a href="">Agregar al carrito</a></li>
                    </ul>
                </div>
            </article>
            <% }})%>
            
            
        </main>
    </section>

    
    <section class="productos">
        <h2 class="titulo animado">Productos Mujer</h2>
        <main>
            <%  products.forEach(product => {  if(product.detalle == "mujer"){ %>
                <article class="tarjeta-producto animado">
                    <div class="img-producto">
                        <img src="../../../img/products/<%= product.imagen %>" alt="foto-producto">
                    </div>
                    <div class="hover-info">
                        <ul>
                            <li><%= product.prenda %></li>
                            <li><%= product.marca %></li>
                            <li>Talle <%= product.talle %></li>
                            <li>Color <%= product.color %></li>
                            <li>$ <%= product.precio %></li>
                            <li><a href="">Agregar al carrito</a></li>
                        </ul>
                    </div>
                </article>
                <% }})%>
        </main>
    </section>


    
    <section class="productos">
        <h2 class="titulo animado">Promociones</h2>
        <main>
            <%  products.forEach(product => {  if(product.detalle == "promocion"){ %>
                <article class="tarjeta-producto animado">
                    <div class="img-producto">
                        <img src="../../../img/products/<%= product.imagen %>" alt="foto-producto">
                    </div>
                    <div class="hover-info">
                        <ul>
                            <li><%= product.prenda %></li>
                            <li><%= product.marca %></li>
                            <li>Talle <%= product.talle %></li>
                            <li>Color <%= product.color %></li>
                            <li>$ <%= product.precio %></li>
                            <li><a href="">Agregar al carrito</a></li>
                        </ul>
                    </div>
                </article>
                <% }})%>
        </main>
    </section>



    <section class="productos">
        <h2 class="titulo animado" id="accesorios">Accesorios</h2>
        <main>
            <%  products.forEach(product => {  if(product.detalle == "accesorio"){ %>
                <article class="tarjeta-producto animado">
                    <div class="img-producto">
                        <img src="../../../img/products/<%= product.imagen %>" alt="foto-producto">
                    </div>
                    <div class="hover-info">
                        <ul>
                            <li><%= product.prenda %></li>
                            <li><%= product.marca %></li>
                            <li>Talle <%= product.talle %></li>
                            <li>Color <%= product.color %></li>
                            <li>$ <%= product.precio %></li>
                            <li><a href="">Agregar al carrito</a></li>
                        </ul>
                    </div>
                </article>
                <% }})%>
        </main>
    </section>


    <%- include ("../partials/footer.ejs") %>

    <script src="../../../js/main/home.js"></script>
    <script src="../../../js/main/menu-hamburguesa.js"></script>

    
</body>
</html>