<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../css/user/listado.css">
    <link rel="stylesheet" href="../../../css/main/home.css">
    <link rel="icon" href="../../../img/general/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title>ModaSport</title>
</head>
<body>
    
    <%- include ("../partials/header.ejs") %>

    <main>
         <h1>Listado de usuarios</h1>
         <table>
             <tr>
                 <th class="id"> # </th>
                 <th class="nombre">Nombre </th>
                 <th class="apellido">Apellido </th>
                 <th class="email">E-mail </th>
                 <th></th>
             </tr>
             <% users.forEach(user => { %>
             <tr class="fila-impar">
                 <td class="id"><%= user.id %></td>
                 <td class="nombre"><%= user.nombre %></td>
                 <td class="apellido"><%= user.apellido%></td>
                 <td class="email"><%= user.email %></td>
                 <td class="button"><form action="/usuarios/<%= user.id %>?_method=delete" method="POST">
                                    <button>Borrar</button>
                                    </form>
                </td>
             </tr>
             <% }) %>
         </table>
    </main>

    <%- include ("../partials/footer.ejs") %>

    <script src="../../../js/main/home.js"></script>
    <script src="../../../js/main/menu-hamburguesa.js"></script>

    
</body>
</html>